---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/recipes/7319
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '9049'
    body:
      encoding: US-ASCII
      string: ! '{"type":"RefinementEctoplasm","output_item_id":46742,"output_item_count":1,"min_rating":450,"time_to_craft_ms":5000,"disciplines":["Armorsmith","Artificer","Huntsman","Weaponsmith"],"flags":["AutoLearned"],"ingredients":[{"item_id":19684,"count":50},{"item_id":19721,"count":1},{"item_id":46747,"count":10}],"id":7319}'
  recorded_at: Mon, 29 Jun 2015 03:54:46 GMT
recorded_with: VCR 2.9.3
