---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/maps/80.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '766'
      X-Rate-Limit-Limit:
      - '600'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": 80,
          "name": "A Society Function",
          "min_level": 10,
          "max_level": 10,
          "default_floor": 1,
          "type": "Instance",
          "floors": [
            1,
            2
          ],
          "region_id": 4,
          "region_name": "Kryta",
          "continent_id": 1,
          "continent_name": "Tyria",
          "map_rect": [
            [
              -21504,
              -21504
            ],
            [
              24576,
              21504
            ]
          ],
          "continent_rect": [
            [
              10240,
              9856
            ],
            [
              12160,
              11648
            ]
          ]
        }
  recorded_at: Wed, 13 Jun 2018 22:10:43 GMT
recorded_with: VCR 2.9.3
