---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/maps.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"maps":{"15":{"map_name":"Queensdale","min_level":1,"max_level":15,"default_floor":1,"floors":[0,1,2],"region_id":4,"region_name":"Kryta","continent_id":1,"continent_name":"Tyria","map_rect":[[-43008,-27648],[43008,30720]],"continent_rect":[[9856,11648],[13440,14080]]},"17":{"map_name":"Harathi
        Hinterlands","min_level":35,"max_level":45,"default_floor":1,"floors":[0,1,2],"region_id":4,"region_name":"Kryta","continent_id":1,"continent_name":"Tyria","map_rect":[[-36864,-33792],[39936,33792]],"continent_rect":[[13440,9472],[16640,12288]]},"18":{"map_name":"Divinity''s
        Reach","min_level":0,"max_level":80,"default_floor":1,"floors":[1,2],"region_id":4,"region_name":"Kryta","continent_id":1,"continent_name":"Tyria","map_[...]
