---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/maps/80.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":80,"name":"A Society Function","min_level":10,"max_level":10,"default_floor":1,"floors":[1,2],"region_id":8,"region_name":"Steamspur
        Mountains","continent_id":1,"continent_name":"Tyria","map_rect":[[-21504,-21504],[24576,21504]],"continent_rect":[[10240,9856],[12160,11648]]}'
  recorded_at: Mon, 30 Mar 2015 11:29:01 GMT
recorded_with: VCR 2.9.3
