---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/item_details.json?item_id=12546
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"item_id":"12546","name":"Lemongrass","description":"Ingredient","type":"CraftingMaterial","level":"80","rarity":"Basic","vendor_value":"9","icon_file_id":"219490","icon_file_signature":"DF5612F93A11DB5F53FECA523F50D15DBF5A9AA5","game_types":["Activity","Dungeon","Pve","Wvw"],"flags":[],"restrictions":[]}'
  recorded_at: Thu, 26 Feb 2015 22:06:17 GMT
recorded_with: VCR 2.9.3
