---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/items/12546.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"name":"Lemongrass","description":"Ingredient","type":"CraftingMaterial","level":80,"rarity":"Basic","vendor_value":9,"game_types":["Activity","Dungeon","Pve","Wvw"],"flags":[],"restrictions":[],"id":12546,"icon":"https://render.guildwars2.com/file/DF5612F93A11DB5F53FECA523F50D15DBF5A9AA5/219490.png"}'
  recorded_at: Mon, 30 Mar 2015 11:29:01 GMT
recorded_with: VCR 2.9.3
