---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/items/12546.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '60871'
      X-Rate-Limit-Limit:
      - '600'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "name": "Lemongrass",
          "description": "Ingredient",
          "type": "CraftingMaterial",
          "level": 80,
          "rarity": "Basic",
          "vendor_value": 9,
          "game_types": [
            "Activity",
            "Wvw",
            "Dungeon",
            "Pve"
          ],
          "flags": [],
          "restrictions": [],
          "id": 12546,
          "chat_link": "[&AgECMQAA]",
          "icon": "https://render.guildwars2.com/file/DF5612F93A11DB5F53FECA523F50D15DBF5A9AA5/219490.png"
        }
  recorded_at: Wed, 13 Jun 2018 22:10:42 GMT
recorded_with: VCR 2.9.3
