---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/wvw/matches.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"wvw_matches":[{"wvw_match_id":"1-1","red_world_id":1019,"blue_world_id":1016,"green_world_id":1008,"start_time":"2018-06-09T02:00:00Z","end_time":"2018-06-16T01:58:00Z"},{"wvw_match_id":"1-2","red_world_id":1003,"blue_world_id":1009,"green_world_id":1011,"start_time":"2018-06-09T02:00:00Z","end_time":"2018-06-16T01:58:00Z"},{"wvw_match_id":"1-3","red_world_id":1017,"blue_world_id":1018,"green_world_id":1004,"start_time":"2018-06-09T02:00:00Z","end_time":"2018-06-16T01:58:00Z"},{"wvw_match_id":"1-4","red_world_id":1014,"blue_world_id":1021,"green_world_id":1005,"start_time":"2018-06-09T02:00:00Z","end_time":"2018-06-16T01:58:00Z"},{"wvw_match_id":"2-1","red_world_id":2203,"blue_world_id":2008,"green_world_id":2003,"start_time":"2018-06-08T18:00:00Z","end_time":"2018-06-15T17:58:00Z"},{"wvw_match_id":"2-2","red_world_id":2301,"blue_world_id":2011,"green_world_id":2007,"start_time":"2018-06-08T18:00:00Z","end_time":"2018-06-15T17:58:00Z"},{"wvw_match_id":"2-3","red_world_id":2002,"blue_world_id":2012,"green_world_id":2204,"start_time":"2018-06-08T18:00:00Z","end_time":"2018-06-15T17:58:00Z"},{"wvw_match_id":"2-4","red_world_id":2010,"blue_world_id":2202,"green_world_id":2103,"start_time":"2018-06-08T18:00:00Z","end_time":"2018-06-15T17:58:00Z"},{"wvw_match_id":"2-5","red_world_id":2201,"blue_world_id":2101,"green_world_id":2205,"start_time":"2018-06-08T18:00:00Z","end_time":"2018-06-15T17:58:00Z"}]}'
  recorded_at: Wed, 13 Jun 2018 22:10:50 GMT
recorded_with: VCR 2.9.3
