---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/wvw/matches.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"wvw_matches":[{"wvw_match_id":"2-6","red_world_id":2104,"blue_world_id":2105,"green_world_id":2206,"start_time":"2015-02-20T18:00:00Z","end_time":"2015-02-27T18:00:00Z"},{"wvw_match_id":"2-7","red_world_id":2009,"blue_world_id":2005,"green_world_id":2207,"start_time":"2015-02-20T18:00:00Z","end_time":"2015-02-27T18:00:00Z"},{"wvw_match_id":"2-4","red_world_id":2204,"blue_world_id":2205,"green_world_id":2202,"start_time":"2015-02-20T18:00:00Z","end_time":"2015-02-27T18:00:00Z"},{"wvw_match_id":"2-3","red_world_id":2012,"blue_world_id":2103,"green_world_id":2301,"start_time":"2015-02-20T18:00:00Z","end_time":"2015-02-27T18:00:00Z"},{"wvw_ma[...]
