---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/wvw/matches.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"wvw_matches":[{"wvw_match_id":"2-5","red_world_id":2014,"blue_world_id":2205,"green_world_id":2013,"start_time":"2015-03-27T18:00:00Z","end_time":"2015-04-03T18:00:00Z"},{"wvw_match_id":"2-6","red_world_id":2105,"blue_world_id":2206,"green_world_id":2104,"start_time":"2015-03-27T18:00:00Z","end_time":"2015-04-03T18:00:00Z"},{"wvw_match_id":"2-4","red_world_id":2203,"blue_world_id":2204,"green_world_id":2301,"start_time":"2015-03-27T18:00:00Z","end_time":"2015-04-03T18:00:00Z"},{"wvw_match_id":"2-8","red_world_id":2008,"blue_world_id":2011,"green_world_id":2102,"start_time":"2015-03-27T18:00:00Z","end_time":"2015-04-03T18:00:00Z"},{"wvw_ma[...]
