---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/wvw/match_details.json?match_id=2-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"match_id":"2-3","scores":[198089,189944,204828],"maps":[{"type":"RedHome","scores":[85114,17896,25292],"objectives":[{"id":62,"owner":"Neutral"},{"id":35,"owner":"Green"},{"id":32,"owner":"Red","owner_guild":"BC3E3C94-C3A8-41E9-83D3-39BDE5E6B964"},{"id":33,"owner":"Red"},{"id":65,"owner":"Neutral"},{"id":38,"owner":"Red"},{"id":39,"owner":"Red","owner_guild":"45FBA550-12FF-4FC9-BB59-81800002707D"},{"id":64,"owner":"Neutral"},{"id":37,"owner":"Red","owner_guild":"6A3747B9-DBE3-4586-913F-22250A208EAE"},{"id":53,"owner":"Green"},{"id":52,"owner":"Green","owner_guild":"EA1687E7-E807-40F5-864E-ED91968DB36D"},{"id":51,"owner":"Red"},{"id":66,"owner":"Neutral"},{"id":34,"owner":"Green","owner_guild":"C88A65F0-2F52-E411-A278-AC162DC0070D"},{"id":36,"owner":"Red","owner_guild":"0343C750-C187-E411-AA11-AC162DAAE275"},{"id":50,"owner":"Red"},{"id":63,"owner":"Green"},{"id":40,"owner":"Red"}],"bonuses":[{"type":"bloodlust","owner":"Red"}]},{"type":"GreenHome","scores":[24438,19293,84738],"objectives":[{"id":48,"owner":"Green"},{"id":43,"owner":"Blue"},{"id":41,"owner":"Red"},{"id":56,"owner":"Blue"},{"id":75,"owner":"Neutral"},{"id":57,"owner":"Green"},{"id":42,"owner":"Red"},{"id":54,"owner":"Green"},{"id":55,"owner":"Red"},{"id":44,"owner":"Red"},{"id":45,"owner":"Red"},{"id":47,"owner":"Green"},{"id":46,"owner":"Red"},{"id":49,"owner":"Red","owner_guild":"FAAC1050-7204-E411-B827-AC162DC0A8E[...]
