---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/wvw/match_details.json?match_id=2-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"match_id":"2-3","scores":[383500,379302,364380],"maps":[{"type":"Center","scores":[169318,126722,126046],"bonuses":[],"objectives":[{"id":131,"owner":"Green"},{"id":20,"owner":"Red","owner_guild":"08F57AD2-473C-E511-A343-AC162DAE0BED"},{"id":10,"owner":"Green"},{"id":9,"owner":"Red","owner_guild":"005B8B1F-7BF2-4902-9ADD-C8E7F9A97675"},{"id":4,"owner":"Green","owner_guild":"A93E347F-324F-E511-A2AD-AC162DC0A8ED"},{"id":6,"owner":"Green"},{"id":124,"owner":"Red"},{"id":11,"owner":"Green","owner_guild":"3C7E1182-B0A7-4C93-AF01-97D17F95984E"},{"id":12,"owner":"Green","owner_guild":"1B34A971-C780-4FE0-B6E7-6C5950E04C68"},{"id":5,"owner":"Red","owner_guild":"39506A6F-E9D3-E511-80D3-AC162DC0847[...]
