---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/wvw/match_details.json?match_id=2-3
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"match_id":"2-3","scores":[80099,78392,99905],"maps":[{"type":"RedHome","scores":[38147,8524,8504],"objectives":[{"id":32,"owner":"Red","owner_guild":"C24D6516-CD84-422A-96EC-CF8D214BACE4"},{"id":33,"owner":"Red"},{"id":36,"owner":"Red"},{"id":37,"owner":"Red","owner_guild":"F24F43AE-6666-47D8-ADC7-3962F3391546"},{"id":38,"owner":"Red"},{"id":39,"owner":"Red"},{"id":40,"owner":"Red"},{"id":51,"owner":"Red"},{"id":52,"owner":"Red"},{"id":50,"owner":"Blue"},{"id":34,"owner":"Green"},{"id":35,"owner":"Green"},{"id":53,"owner":"Green"},{"id":62,"owner":"Neutral"},{"id":63,"owner":"Neutral"},{"id":64,"owner":"Neutral"},{"id":65,"owner":"Neutral"},{"id":66,"owner":"Neutral"}],"bonuses":[{"type":"bloodlust","owner":"Red"}]},{"type":"GreenHome","scores":[4520,5848,45679],"objectives":[{"id":43,"owner":"Red"},{"id":49,"owner":"Red"},{"id":41,"owner":"Green"},{"id":42,"owner":"Green","owner_guild":"11414D4C-CCC5-E411-925A-AC162DAE5AD5"},{"id":44,"owner":"Green"},{"id":45,"owner":"Green"},{"id":46,"owner":"Green","owner_guild":"BBA2508D-C3AE-E311-8D3D-AC162DC0A8ED"},{"id":47,"owner":"Green"},{"id":48,"owner":"Green"},{"id":54,"owner":"Green"},{"id":55,"owner":"Green"},{"id":56,"own[...]
