---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/recipe_details.json?recipe_id=1275
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"recipe_id":"1275","type":"Coat","output_item_id":"11541","output_item_count":"1","min_rating":"25","time_to_craft_ms":"1000","disciplines":["Leatherworker"],"flags":[],"ingredients":[{"item_id":"19797","count":"1"},{"item_id":"13094","count":"1"},{"item_id":"13093","count":"1"}]}'
  recorded_at: Thu, 26 Feb 2015 22:26:16 GMT
recorded_with: VCR 2.9.3
