---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/recipes/1275.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '11726'
      X-Rate-Limit-Limit:
      - '600'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "type": "Coat",
          "output_item_id": 11541,
          "output_item_count": 1,
          "min_rating": 25,
          "time_to_craft_ms": 1000,
          "disciplines": [
            "Leatherworker"
          ],
          "flags": [],
          "ingredients": [
            {
              "item_id": 19797,
              "count": 1
            },
            {
              "item_id": 13094,
              "count": 1
            },
            {
              "item_id": 13093,
              "count": 1
            }
          ],
          "id": 1275,
          "chat_link": "[&CfsEAAA=]"
        }
  recorded_at: Wed, 13 Jun 2018 22:10:47 GMT
recorded_with: VCR 2.9.3
