---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/guild_details.json?guild_name=Ruinous
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: '{"guild_id":"16DB5921-CF1B-48D2-A5A0-2F0AADD9765D","guild_name":"Ruinous","tag":"RUIN","emblem":{"background_id":1,"foreground_id":21,"flags":[],"background_color_id":473,"foreground_primary_color_id":146,"foreground_secondary_color_id":146}}'
  recorded_at: Wed, 13 Jun 2018 22:10:40 GMT
recorded_with: VCR 2.9.3
