---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/maps.json?map_id=80
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"maps":{"80":{"map_name":"A Society Function","min_level":10,"max_level":10,"default_floor":1,"floors":[1,2],"region_id":8,"region_name":"Steamspur
        Mountains","continent_id":1,"continent_name":"Tyria","map_rect":[[-21504,-21504],[24576,21504]],"continent_rect":[[10240,9856],[12160,11648]]}}}'
  recorded_at: Thu, 26 Feb 2015 22:13:39 GMT
recorded_with: VCR 2.9.3
