---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/files.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"map_complete":{"file_id":528724,"signature":"5A4E663071250EC72668C09E3C082E595A380BF7"},"map_dungeon":{"file_id":102478,"signature":"943538394A94A491C8632FBEF6203C2013443555"},"map_heart_empty":{"file_id":102440,"signature":"09ACBA53B7412CC3C76E7FEF39929843C20CB0E4"},"map_heart_full":{"file_id":102439,"signature":"B3DEEC72BBEF0C6FC6FEF835A0E275FCB1151BB7"},"map_node_harvesting":{"file_id":157332,"signature":"995534EBE5D26804AE605E205E50539821C0CBCB"},"map_node_logging":{"file_id":157333,"signature":"FC01BB452D5327A0E5B2E4A3F5EFDF03F8264A7B"},"map_node_mining":{"file_id":157334,"signature":"A89EB66C39C7C006A4A6CBEDA28061F16847E9BC"},"map_poi":{"file_id":97461,"signature":"25B230711176AB5728E86F5FC5F0BFAE48B32F6E"},"map_special_event":{"file_id":502087,"signature":"1273C427032320DDDB63062C140E72DCB0D9B411"},"map_story":{"file_id":102369,"signature":"540BA9BB6662A5154BD13306A1AEAD6219F95361"},"map_waypoint":{"file_id":157353,"signature":"32633AF8ADEA696A1EF56D3AE32D617B10D3AC57"},"map_waypoint_contested":{"file_id":102349,"signature":"5EF051273B40CFAC4AEA6C1F1D0DA612C1B0776C"},"map_waypoint_hover":{"file_id":157354,"signature":"95CE3F6B0502232AD90034E4B7CE6E5B0FD3CC5F"},"wvw_battles_hollow_blue":{"file_id":638706,"signature":"CB3378BC9E271A00436DE2D69FC0BB51BEF90EC9"},"wvw_battles_hollow_green":{"file_id":638707,"signature":"CEF3D705B196EEDB38A674AF5FE4059F3F9CE4DC"},"wvw_battles_hollow_red":{"file_id":638708,"signature":"46BBA1794334552D0AF35BEE093C451F9FF6A00E"},"wvw_battles_hollow_white":{"file_id":638709,"signature":"F621AEFE09A7261D4796070D0F022FB0AEEE4814"},"wvw_bauers_estate_blue":{"file_id":638710,"signature":"A0BF72046348F2F6372CADA10CFFAA3CE4DC6A76"},"wvw_bauers_estate_green":{"file_id":638711,"signature":"03E80CA87C24A2AD6A987932AC76916D91C6BF27"},"wvw_bauers_estate_red":{"file_id":638712,"signature":"0C1556930114F35442BB2AD2C6E1C129F1FB5CD3"},"wvw_bauers_estate_white":{"file_id":638714,"signature":"1B2FFE9A59B60110BEF42744A10B433AACE008FF"},"wvw_carvers_ascent_blue":{"file_id":638713,"signature":"71D3634C91AB94B13E4546BF16ECFD07EFF6200F"},"wvw_carvers_ascent_green":{"file_id":638715,"signature":"0250A2AA6353DE29460A13F7F5FCC7AA523DBBA4"},"wvw_carvers_ascent_red":{"file_id":638716,"signature":"9F079BD0BB74976458603D17E80FF44E54FC0C1F"},"wvw_carvers_ascent_white":{"file_id":638717,"signature":"9CA7DFB4B46C231B6C5B2BDEE04B0459340D64B3"},"wvw_orchard_overlook_blue":{"file_id":638718,"signature":"7C7C5EA9586B206C43D7029E0C41EFF3A5C9D6BC"},"wvw_orchard_overlook_green":{"file_id":638719,"signature":"A4ADF9683FF2E3CAD20154D75A24C0B6B4EC7973"},"wvw_orchard_overlook_red":{"file_id":638720,"signature":"503CB0C03B962F92E8B2F4A0A92DFD46A62D5471"},"wvw_orchard_overlook_white":{"file_id":638722,"signature":"7DD0BD0DEC0F18B2D70775F9BCF4C7080DCC0BB1"},"wvw_temple_of_lost_prayers_blue":{"file_id":638721,"signature":"D4E1C3C552995FA46B57F1ED3F0203AE0E05AE49"},"wvw_temple_of_lost_prayers_green":{"file_id":638723,"signature":"B049213F4CE347C9CEDB5A0BD554BC4BF93A5819"},"wvw_temple_of_lost_prayers_red":{"file_id":638724,"signature":"7672656D0D92CA6D66D00601B4210745BAC8775A"},"wvw_temple_of_lost_prayers_white":{"file_id":638725,"signature":"1502A342DF603C06910E0F0FFF0C010AC928B946"},"wvw_camp":{"file_id":102532,"signature":"015D365A08AAE105287A100AAE04529FDAE14155"},"wvw_tower":{"file_id":102531,"signature":"ABEC80C79576A103EA33EC66FCB99B77291A2F0D"},"wvw_keep":{"file_id":102535,"signature":"DB580419C8AD9449309A96C8E7C3D61631020EBB"},"wvw_castle":{"file_id":102608,"signature":"F0F1DA1C807444F4DF53090343F43BED02E50523"},"ui_infusion_slot_agony":{"file_id":683590,"signature":"F54BC4283FFAB7531073FF08F470A9730E47FB4D"},"ui_infusion_slot_defensive":{"file_id":517202,"signature":"3D941C5F3C0BE9FFAFE27A2C4AE70ABC94AAE724"},"ui_infusion_slot_offensive":{"file_id":517203,"signature":"FD212A4A36BEA799E3BDCDFFDC55DEC2A50FE19D"},"ui_infusion_slot_utility":{"file_id":517204,"signature":"0B5F38D94AAA1539EC6009F4CF37DF5673C81DA0"},"ui_coin_gold":{"file_id":156904,"signature":"090A980A96D39FD36FBB004903644C6DBEFB1FFB"},"ui_coin_silver":{"file_id":156907,"signature":"E5A2197D78ECE4AE0349C8B3710D033D22DB0DA6"},"ui_coin_copper":{"file_id":156902,"signature":"6CF8F96A3299CFC75D5CC90617C3C70331A1EF0E"},"ui_supply":{"file_id":358416,"signature":"0A90B5007662D701123EA8BD22422CD93F0B0C6B"},"map_bank":{"file_id":102494,"signature":"B497533A51E879284D029DD10A2CDE23D04F6A4D"},"map_guild_bank":{"file_id":102684,"signature":"BE7D7158C522C37B02DB9FE0ADA4D733B9D0C333"},"map_trading_post":{"file_id":102496,"signature":"1608A16AF9B0EEE466699380AA30F54A36A0EEDA"},"map_crafting_armorsmith":{"file_id":102461,"signature":"2952B92FA93C03A5281F94D223A4CE4C7E0B0906"},"map_crafting_artificer":{"file_id":102463,"signature":"0D75999D6DEA1FDFF9DB43BBC2054B62764EB9A0"},"map_crafting_cook":{"file_id":102465,"signature":"424E410B90DE300CEB4A1DE2AB954A287C7A5419"},"map_crafting_huntsman":{"file_id":102462,"signature":"0C91017241F016EF35A2BCCE183CA9F7374023FC"},"map_crafting_jeweler":{"file_id":102458,"signature":"F97F4D212B1294052A196734C71BCE42E199735B"},"map_crafting_leatherworker":{"file_id":102464,"signature":"192D1D0D73BA7899F1745F32BAC1634C1B4671BF"},"map_crafting_tailor":{"file_id":102459,"signature":"0EB64958BE48AB9605DD56807713215095B8BEED"},"map_crafting_weaponsmith":{"file_id":102460,"signature":"AEEF1CF774EE0D5917D5E1CF3AAC269FEE5EC03A"},"map_guild_registrar":{"file_id":102498,"signature":"98EECF5621BB3DFC98BA9CB3D938C939CA0B227B"},"map_profession_trainer":{"file_id":102363,"signature":"0BA90BAA02D468ABF8CB9FD90AEB4DFCC1F1D43A"},"map_repair":{"file_id":102597,"signature":"A5DE06130C0D1E2C9A9780EAD037E61462B1E825"},"map_vendor":{"file_id":240662,"signature":"061298EB40D97DEC6C73F7631BE2393ECAB50B4E"},"map_vendor_armor":{"file_id":240661,"signature":"A03D9027D6B80E95C8E49947A39D1B3FA6B59D4F"},"map_vendor_weapons":{"file_id":240663,"signature":"08B5431F5D6DF7D5983437C5197E6ED96901A431"}}'
  recorded_at: Thu, 26 Feb 2015 22:21:37 GMT
recorded_with: VCR 2.9.3
