---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/skins/5904.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '5307'
      X-Rate-Limit-Limit:
      - '600'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "name": "Shadow Hammer",
          "type": "Weapon",
          "flags": [
            "ShowInWardrobe"
          ],
          "restrictions": [],
          "rarity": "Basic",
          "id": 5904,
          "icon": "https://render.guildwars2.com/file/0766F6FB807B2821C5264ED7781FA7F8DE66A60E/960252.png",
          "details": {
            "type": "Hammer",
            "damage_type": "Physical"
          }
        }
  recorded_at: Wed, 13 Jun 2018 22:10:48 GMT
recorded_with: VCR 2.9.3
