---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v1/continents.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"continents":{"1":{"name":"Tyria","continent_dims":[32768,32768],"min_zoom":0,"max_zoom":7,"floors":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,-2,-3,-4,-5,-6,-7,-8,-9,-10,-11,-13,-14,-15,-16,20,21,22,23,24,25,26,27,28,29,30,34,36,37,40,38,39,42,44,45]},"2":{"name":"Mists","continent_dims":[16384,16384],"min_zoom":0,"max_zoom":6,"floors":[1,3,5,6,7,9,10,13,14,18,19,21,22,23,24,25,26,27,28,29,30,-27,-28,-29,-30,-31,32]}}}'
  recorded_at: Thu, 26 Feb 2015 22:06:17 GMT
recorded_with: VCR 2.9.3
