---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/continents.json?ids=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Count:
      - '2'
    body:
      encoding: UTF-8
      string: '[{"name":"Tyria","continent_dims":[32768,32768],"min_zoom":0,"max_zoom":7,"floors":[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,18,-2,-3,-4,-5,-6,-7,-8,-9,-10,-11,-13,-14,-15,-16,20,21,22,23,24,25,26,27,28,29,30,34,36,37,40,38,39,42,44,45,46],"id":1},{"name":"Mists","continent_dims":[16384,16384],"min_zoom":0,"max_zoom":6,"floors":[1,3,5,6,7,9,10,13,14,18,19,21,22,23,24,25,26,27,28,29,30,-27,-28,-29,-30,-31,35,32],"id":2}]'
  recorded_at: Mon, 30 Mar 2015 11:29:01 GMT
recorded_with: VCR 2.9.3
