---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/continents.json?ids=all
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '2'
      X-Result-Count:
      - '2'
      X-Rate-Limit-Limit:
      - '600'
    body:
      encoding: ASCII-8BIT
      string: |-
        [
          {
            "name": "Tyria",
            "continent_dims": [
              49152,
              49152
            ],
            "min_zoom": 0,
            "max_zoom": 7,
            "floors": [
              0,
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              8,
              9,
              10,
              11,
              12,
              13,
              14,
              15,
              16,
              17,
              18,
              -2,
              -3,
              -4,
              -5,
              -6,
              -7,
              -8,
              -9,
              -10,
              -11,
              -12,
              -13,
              -14,
              -15,
              -16,
              -18,
              -19,
              -20,
              -21,
              -22,
              20,
              21,
              22,
              23,
              24,
              25,
              28,
              29,
              39,
              42,
              26,
              27,
              30,
              34,
              36,
              37,
              38,
              40,
              41,
              43,
              44,
              45,
              46,
              47,
              48,
              49,
              -24,
              -26,
              -27,
              -28,
              -29,
              -30,
              -31,
              -33,
              -34,
              -35,
              -36,
              -32,
              50,
              -37
            ],
            "id": 1
          },
          {
            "name": "Mists",
            "continent_dims": [
              16384,
              16384
            ],
            "min_zoom": 0,
            "max_zoom": 6,
            "floors": [
              1,
              3,
              5,
              6,
              7,
              8,
              9,
              10,
              12,
              13,
              14,
              15,
              16,
              18,
              19,
              20,
              21,
              22,
              23,
              24,
              25,
              26,
              27,
              28,
              29,
              30,
              -27,
              -28,
              -29,
              -30,
              -31,
              35,
              32,
              -32,
              -33,
              37,
              39,
              40
            ],
            "id": 2
          }
        ]
  recorded_at: Wed, 13 Jun 2018 22:10:42 GMT
recorded_with: VCR 2.9.3
