---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/colors/126.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
      X-Result-Total:
      - '549'
      X-Rate-Limit-Limit:
      - '600'
    body:
      encoding: ASCII-8BIT
      string: |-
        {
          "id": 126,
          "name": "Hot Pink",
          "base_rgb": [
            128,
            26,
            26
          ],
          "cloth": {
            "brightness": 14,
            "contrast": 1.21094,
            "hue": 340,
            "saturation": 0.820313,
            "lightness": 1.44531,
            "rgb": [
              169,
              54,
              94
            ]
          },
          "leather": {
            "brightness": 14,
            "contrast": 1.21094,
            "hue": 340,
            "saturation": 0.703125,
            "lightness": 1.44531,
            "rgb": [
              160,
              62,
              96
            ]
          },
          "metal": {
            "brightness": 14,
            "contrast": 1.21094,
            "hue": 340,
            "saturation": 0.585938,
            "lightness": 1.44531,
            "rgb": [
              151,
              69,
              98
            ]
          },
          "item": 20594,
          "categories": [
            "Red",
            "Vibrant",
            "Rare"
          ]
        }
  recorded_at: Wed, 13 Jun 2018 22:10:39 GMT
recorded_with: VCR 2.9.3
