---
http_interactions:
- request:
    method: get
    uri: https://api.guildwars2.com/v2/colors/126.json
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"id":126,"name":"Hot Pink","base_rgb":[128,26,26],"cloth":{"brightness":14,"contrast":1.21094,"hue":340,"saturation":0.820313,"lightness":1.44531,"rgb":[169,54,94]},"leather":{"brightness":14,"contrast":1.21094,"hue":340,"saturation":0.703125,"lightness":1.44531,"rgb":[160,62,96]},"metal":{"brightness":14,"contrast":1.21094,"hue":340,"saturation":0.585938,"lightness":1.44531,"rgb":[151,69,98]}}'
  recorded_at: Mon, 30 Mar 2015 11:28:59 GMT
recorded_with: VCR 2.9.3
